In [1]:
#!python -m spacy download en_core_web_sm

In [2]:
#pip install SpeechRecognition pydub

In [3]:
import spacy 
import pandas as pd
import nltk
from spacy import displacy
import speech_recognition as sr

Using TensorFlow backend.

In [4]:
audio = "AI_Assignment.wav"

In [5]:
#initialize
Ar = sr.Recognizer()

In [6]:
#open the file
with sr.AudioFile(audio) as source:
    #listen for the data 
    audio_data = Ar.record(source)
    #convert from speech to text
    text = Ar.recognize_google(audio_data)

In [7]:
print(text)

Hi I have a flight at 7:00 a.m. from Delhi to Mumbai

In [8]:
nlp = spacy.load("en_core_web_sm")

In [9]:
doc = nlp(text)

entities = []
labels = []
position_start = []
position_end = []

for ent in doc.ents:
    entities.append(ent)
    labels.append(ent.label_)
    position_start.append(ent.start_char)
    position_end.append(ent.end_char)
    
df = pd.DataFrame({'Entities':entities,'Labels':labels,'Position_Start':position_start, 'Position_End':position_end})

In [10]:
df

       Entities Labels  Position_Start  Position_End
0  (7:00, a.m.)   TIME              22            31
1       (Delhi)    GPE              37            42
2      (Mumbai)    GPE              46            52

In [11]:
spacy.explain("TIME")

'Times smaller than a day'

In [12]:
spacy.explain("GPE")

'Countries, cities, states'